Labo/Oplossingen/labo4-5/BadmintonServers/BadmintonWebClient/Service References/BadmintonServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" />
  <xs:element name="GetSportClubs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSportClubsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" minOccurs="0" name="GetSportClubsResult" nillable="true" type="q1:ArrayOfSportClub" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeden">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sportclubID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLedenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" minOccurs="0" name="GetLedenResult" nillable="true" type="q2:ArrayOfLid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>