Labo/Test/labo4/ConsoleApplication1/Service References/IBadmintonService/BadmintonServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BadmintonServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSportClub">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SportClub" nillable="true" type="tns:SportClub" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSportClub" nillable="true" type="tns:ArrayOfSportClub" />
  <xs:complexType name="SportClub">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tornooien" nillable="true" type="tns:ArrayOfTornooi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SportClub" nillable="true" type="tns:SportClub" />
  <xs:complexType name="ArrayOfTornooi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tornooi" nillable="true" type="tns:Tornooi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTornooi" nillable="true" type="tns:ArrayOfTornooi" />
  <xs:complexType name="Tornooi">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tornooi" nillable="true" type="tns:Tornooi" />
  <xs:complexType name="ArrayOfLid">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Lid" nillable="true" type="tns:Lid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLid" nillable="true" type="tns:ArrayOfLid" />
  <xs:complexType name="Lid">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Naam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Lid" nillable="true" type="tns:Lid" />
</xs:schema>