Theorie/Voorbeeldoefeningen/soap/WebClient/xml-resources/web-service-references/Catalogus/wsdl/localhost_8080/WebCatalogus/Catalogus.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://web.boeken.iii.be/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://web.boeken.iii.be/">

<xs:element name="geefBoek" type="tns:geefBoek"/>

<xs:element name="geefBoekResponse" type="tns:geefBoekResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="geefBoek">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="geefBoekResponse">
<xs:sequence>
<xs:element name="return" type="tns:boek" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boek">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
<xs:element name="prijs" type="xs:double"/>
<xs:element name="titel" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>